.button {
    background: #333;
    color: #ddd;
    font-size: 18px;
    border: 0;
    vertical-align: bottom;
    height: 50px;
    width: 100%;
}

.button svg {
    fill: #ddd;
}

.button:hover, .button:focus {
    background: #444;
    outline: 0; /* reset for :focus */
}

.active {
    color:rgb(255, 165, 0);
}

.active svg {
    fill: rgb(255, 165, 0);
}