.editorContainer {
    width: 65%;
    background: #fefefe;
    padding: 10px 5% 20px 5%;
    height: calc(100vh - 50px);
    overflow: scroll;
}
.titleContainer {
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: #707070;
}
.title {
  font-size: 3em;
  font: arial;
  margin-bottom: 0;
  margin-top: 5px;
}
.editTitle {
  background: transparent;
  padding: 0;
  border: none;
}
.editTitle:focus {
  outline: none;
}

.editor {
  cursor: text;
  border-radius: 2px;
  margin-bottom: 2em;
}
blockquote {
  font-size: 4em;
  font-family: 'Hoefler Text', Georgia, serif;
  font-style: italic;
  text-align: center;
}
pre {
  border-style: solid;
  border-width: 2px;
  border-color: #707070;
  padding: 5px 2px 5px 2px;
  margin-top: 0;
  margin-bottom: 0;
}
pre > pre {
  border: none !important;
}

.public-DraftStyleDefault-ol {
  color: green;
}

.editor :global(.public-DraftEditor-content) {

}

