.container { /* container that incldues the page and the list of titles */
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: 2fr 1fr;
}
.scroll {
    overflow-y: scroll;
}
/* styles for the page */
.pageContainer {
    padding: 20px;
    height: calc(100vh - 90px);
    
    grid-row-start: 1;
    grid-row-end: 3;
    
}
.titleContainer {   /* container for the title of the page */
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: #707070;
}
.title {    /* styling for the title itself */
    font-size: 3em;
    font: arial;
    margin-bottom: 0;
    margin-top: 5px;
}

/* styles for the list of the page titles */
.titlesContainer {  /* container for the titles list */
    top: 50px;
    right: 0;
    border-style: solid;
    border-width: 0 0 3px 0;
    border-color: #707070;
    background-color: #DADEE2; 
    padding: 0px 2.5% 0px 2.5%;
    display: grid;
}
.titlesButton { /* styling for the indiviudal titles in the list of titles */
    background-color: transparent;
    border: none;
    transition: color 0.3s;
}
.titlesButton:hover {
    cursor: pointer;
    color: orange;
}
.titlesButton:focus {
    outline: none;
}
.titlesButton > p {
    margin-top: 10px;
    margin-bottom: 10px;
}
.pageTitles {
    font-size: 1.2em;
}