.slide {
    position: absolute;
    -webkit-animation: slide 2.5s forwards;
    -webkit-animation-delay: 0s;
    animation: slide 2.5s forwards;
    animation-delay: 0s;
    width: 100%;
    top: -40px;
}
@-webkit-keyframes slide {
    0% {top: -40px;}
    10% {top: 0;}
    90% {top: 0;}
    100% { top: -40px; }
}
@keyframes slide {
    0% {top: -40px;}
    10% {top: 0;}
    90% {top: 0;}
    100% { top: -40px; }
}